body {
  width: 1920px;
  height: 2000px;
}

.main_top{
  position: absolute;
  width: 1920px;
  height: 130px;
  left: 0px;
  top: 0px;

  background: #000000;
}

.main_top_btn{
  position: absolute;
  width: 112px;
  height: 112px;
  left: 20px;
  top: 9px;

  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50%;
}

.main_top_btn_img{
  position: absolute;
  width: 92px;
  height: 56px;
  left: 10px;
  top: 23px;
}

.main_top_p{
  position: absolute;
  width: 403px;
  height: 111px;
  left: 76px;
  top: 117px;

  font-family: 'Play', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 111px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

.main_top_btn_1{
  position: absolute;
  width: 504px;
  height: 516px;
  left: 76px;
  top: 384px;
  background: #E6E3FF;
}

.main_top_text{
  position: absolute;
  width: 400px;
  height: 39px;
  left: 765px;
  top: 409px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */


  color: #000000;
}

.main_img_1{
  position: absolute;
  width: 145px;
  height: 142px;

}
.main_btn{
  position: absolute;
  width: 200px;
  height: 200px;
  left: 620px;
  top: 387px;
  background-image: url("./img/rangi/0.jpg");
  background-position-x: center;
  background-position-y: center;


}
.main_btn.active{
  position: absolute;
  width: 200px;
  height: 200px;
  left: 620px;
  top: 387px;
  background-image: url("./img/rangi/1.png");
  background-position-x: center;
  background-position-y: center;

}
.main_cent {
  position: absolute;
  width: 601px;
  height: 392px;
  left: 1247px;
  top: 230px;

  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 172px;
  text-align: right;

  color: rgba(0, 0, 0, 0.64);
}

.main_top_btn_img_1{
  position: absolute;
  top: 75px;
  left: 75px;
}

.main_cent_nevath{
  position: absolute;
  width: 487px;
  height: 100px;
  left: 1364px;
  top: 460px;

  background: #EBEBEB;
  z-index: -1;
}
.main_cent_nevath_2{
  position: absolute;
  width: 658px;
  height: 100px;
  left: 1190px;
  top: 637px;

  background: #EBEBEB;
  z-index: -1;
}
.main_proect{
  position: absolute;
  width: 348px;
  height: 38px;
  left: 620px;
  top: 570px;
  text-decoration: none;


}

.main_proect_p{
  position: absolute;
  left: 120px;
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;

  color: #000000;
}
.main_proect_div{
  position: absolute;
  width: 35px;
  height: 33px;
  left: 60px;
  top: 40px;

  background: #5F62FB;
}


