body {
  width: 1920px;
  height: auto;

}
.main_top{
  position: absolute;
  width: 1920px;
  height: 907px;

}
.main {
  width: 1920px;
  height: 5007px;

}



.bgvideo {
  position: absolute;
  width: 2504px;
  height: 2082px;
  left: -300px;
  top: -685px;
  margin: 0;
  bottom: 0;
  right: 260px;
  z-index: -9999;

}

.main_logo_btn {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 16px;
  top: 21px;
  border-radius: 50%;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;

  border: 3px solid #FFFFFF;
  box-sizing: border-box;
}

.main_logo_btn_img{
  position: absolute;
  margin: 8px;
  top: 50px;
  position: -webkit-sticky;
  position: sticky;
  width: 181px;
  height: 148px;
  z-index: 100;
}
.main_top_p {
  position: absolute;
  width: 1422px;
  height: 116px;
  left: 30px;
  top: 205px;

  font-family: 'Play', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 116px;



  color: #FFFFFF;
}

.main_centr{
  position: absolute;
  width: 1920px;
  left: 0;
  top: 857px;
  height: 2073px;
  background: #D385DF;
}
.main_logo_btn_poisk{
  position: absolute;
  width: 65px;
  height: 65px;
  left: 1653px;
  top: -110px;
  border-radius: 50%;

  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  transform: rotate(-44.83deg);
  z-index: 10;
}


.main_logo_btn_oval{
  position: absolute;
  width: 288px;
  height: 66px;
  left: 1570px;
  top: 525px;
  z-index: 10;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 17px 45px;
  font-size: 22px;
  font-family: 'Nunito', sans-serif;


}

.main_centr_conteqner_img{
  position: absolute;
  width: 322px;
  height: 328px;
  left: 303px;
  top: 285px;

}

.main_centr_conteqner_p_1{
  position: absolute;
  width: 986px;
  height: 44px;
  left: 676px;
  top: 370px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */


  color: rgba(255, 255, 255, 0.39);
}

.main_centr_conteqner_p_2{
  position: absolute;
  width: 1200px;
  height: 44px;
  left: 587px;
  top: 450px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */


  color: rgba(255, 255, 255, 0.31);
}

.main_centr_conteqner_p_3{
  position: absolute;
  width: 1000px;
  height: 44px;
  left: 524px;
  top: 530px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  color: rgba(255, 255, 255, 0.31);
}

.main_centr_conteqner_img_1{
  position: absolute;
  width: 299px;
  height: 204px;
  left: 1434px;
  top: 395px;
}
.main_logo_btn_burg {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 1750px;
  top: 45px;
  border-radius: 50%;

  border: 3px solid #FFFFFF;
  box-sizing: border-box;

  z-index: 100;
}

header {
  z-index: 100;
}


.menu-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 100;

}
.main-btn span:first-of-type {
  width: 40px;
  height: 4px;
  position: absolute;
  z-index: 100;
  top: 15px;
  right: 10px;
  transition: all 0.5s;
  background-color: white;
}

.main-btn span:nth-of-type(2){
  width: 40px;
  height: 4px;
  position: absolute;
  z-index: 100;
  top: 25px;
  right: 10px;
  transition: all 0.5s;
  background-color: white;
}
.main-btn span:nth-of-type(3){
  width: 40px;
  height: 4px;
  position: absolute;
  z-index: 100;
  top: 35px;
  right: 10px;
  transition: all 0.5s;
  background-color: white;
}



.menu_1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 200px;
  transform: translateX(-1000%);
}
.menu_2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 200px;
  transform: translateX(-1000%);
}
.menu_3{
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 200px;
  transform: translateX(-1000%);
}
.menu_4{
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 200px;
  transform: translateX(-1000%);
}
.menu_5{
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 200px;
  transform: translateX(-1000%);
}

.menu_1.active {
  position: absolute;
  top: 130px;
  left: 1500px;
  width: 100px;
  height: 200px;
  transform: translateX(0);
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  line-height: 24px;
  margin: 10px;
  transition: all 0.5s;
}
.menu_2.active{
  position: absolute;
  top: 180px;
  left: 1500px;
  width: 100px;
  height: 200px;
  transform: translateX(0);
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  line-height: 24px;
  margin: 10px;
  transition: all 0.5s;
}
.menu_3.active{
  position: absolute;
  top: 230px;
  left: 1500px;
  width: 100px;
  height: 200px;
  transform: translateX(0);
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  margin: 10px;
  transition: all 0.5s;
}
.menu_4.active{
  position: absolute;
  top: 280px;
  left: 1500px;
  width: 100px;
  height: 200px;
  transform: translateX(0);
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  margin: 10px;
  transition: all 0.5s;
}
.menu_5.active{
  position: absolute;
  top: 330px;
  left: 1500px;
  width: 100px;
  height: 200px;
  transform: translateX(0);
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  margin: 10px;
  transition: all 0.5s;
}

.main-btn.active span:first-of-type {
  width: 40px;
  height: 4px;
  z-index: 101;

  top: 25px;
  right: 10px;
  background: #FFFFFF;
  transform:  rotate(45deg);
  transition: all 0.5s;
}
.main-btn.active span:nth-of-type(2) {
  opacity: 0;
  transition: all 0.5s;
}
.main-btn.active span:nth-of-type(3) {
  width: 40px;
  height: 4px;
  z-index: 101;
  top: 25px;
  transition: all 0.5s;
  right: 10px;
  background: #FFFFFF;
  transform:  rotate(-45deg);
}
.main_centr_p{
  position: absolute;
  width: 517px;
  height: 148px;
  left: 303px;
  top: 858px;

  font-family: 'Play', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 148px;
  /* identical to box height */


  color: #FFFFFF;
}

.wrapper {
  position: absolute;
  width: 1920px;
  margin: 0 auto;
  top: 1200px;

}
.slider-container{
  overflow: hidden;
  background-color: #ffffff;
}
.slider-track{
  display: flex;
  background-color: #ffffff;
  transition: 1.9s;
}

.slider-item{
  min-width: 960px;
  height: 625px;
}

.slider-btn{
  text-align: center;
}

.slider-item_p_1{
  position: absolute;
  width: 484px;
  height: 222px;
  left: 71px;
  top: 30px;
  margin: 0;

  font-family: 'Play', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 111px;

  color: #000000;
}

.slider-item_p_1_1 {
  position: absolute;
  width: 714px;
  height: 55px;
  left: 71px;
  top: 250px;

  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;

  color: #000000;
}

.slider-item_img_4{
  position: absolute;
  width: 112px;
  height: 40px;
  left: 16px;
  top: 500px;

}
.slider-item_img_3{

  position: absolute;
  width: 169px;
  height: 40px;
  left: 136px;
  top: 500px;

}

.main_border{
  position: absolute;
  width: 1920px;
  height: 2055px;
  left: 0px;
  top: 2909px;

  background: #000000;
}
.main_border_h2{

  position: absolute;
  width: 711px;
  height: 111px;
  left: 211px;
  top: 111px;

  font-family: 'Play', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 111px;
  /* identical to box height */


  color: #FFFFFF;
}

.main_border_img_1{
  position: absolute;
  width: 145px;
  height: 142px;
  left: 950px;
  top: 180px;
  margin: 0;
}

.main_border_img_2{
  position: absolute;
  width: 89px;
  height: 113px;
  left: 337px;
  top: 401px;
}

.main_border_h3{
  position: absolute;
  width: 578px;
  height: 41px;
  left: 471px;
  top: 401px;

  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;

  color: #FFFFFF;
}

.main_border_img_3{
  position: absolute;
  width: 92px;
  height: 113px;
  left: 329px;
  top: 571px;
}

.main_border_h3_2{
  position: absolute;
  width: 1054px;
  height: 41px;
  left: 471px;
  top: 575px;

  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;

  color: #FFFFFF;
}

.main_border_h4{
  position: absolute;
  width: 118px;
  height: 46px;
  left: 406px;
  top: 790px;

  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  /* identical to box height */


  color: #B8B8B8;
}

.main_border_i_1{
  position: absolute;
  width: 166px;
  height: 142px;
  left: 591px;
  top: 900px;
}

.main_border_i_2{
  position: absolute;
  width: 166px;
  height: 142px;
  left: 591px;
  top: 1050px;
}
.main_border_i_3{
  position: absolute;
  width: 166px;
  height: 142px;
  left: 591px;
  top: 1200px;
}
.main_border_i_4{
  position: absolute;
  width: 166px;
  height: 142px;
  left: 591px;
  top: 1350px;
}
.main_border_i_5{
  position: absolute;
  width: 166px;
  height: 142px;
  left: 591px;
  top: 1500px;
}

.main_border_h5_1{
  position: absolute;
  width: 267px;
  height: 46px;
  left: 769px;
  top: 875px;

  font-family: 'Play', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;

  color: #FFFFFF;
}
.main_border_h5_2{
  position: absolute;
  width: 267px;
  height: 46px;
  left: 769px;
  top: 1035px;

  font-family: 'Play', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;

  color: #FFFFFF;
}
.main_border_h5_3{
  position: absolute;
  width: 267px;
  height: 46px;
  left: 769px;
  top: 1175px;

  font-family: 'Play', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;

  color: #FFFFFF;
}
.main_border_h5_4{
  position: absolute;
  width: 267px;
  height: 46px;
  left: 769px;
  top: 1325px;

  font-family: 'Play', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;

  color: #FFFFFF;
}
.main_border_h5_5{
  position: absolute;
  width: 267px;
  height: 46px;
  left: 769px;
  top: 1480px;

  font-family: 'Play', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;

  color: #FFFFFF;
}
.main_podval{
  position: absolute;
  width: 1920px;
  height: 450px;
  top: 5064px;
}


.bgvideo_2 {
  position: absolute;
  width: 2254px;
  height: 1902px;
  left: -180px;

  top: -1450px;
  margin: 0;
  bottom: 0;
  right: 0;
  z-index: -9999;

}

.slider-item_img_2{
  width: 960px;
  height: 621px;
}

.slider-item_img_5{
  width: 960px;
  height: 621px;
}
.slider-item_img_6{
  width: 960px;
  height: 621px;
}








